* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $base-background-color;
    font-family: $base-font;
    margin: 0;
    padding: 0;
    height: 2000px;
}
button {
    font-family: $base-font;
    font-size: 15px;
    border: none;
    background-color: $app-items-color;
    color: $dark-background-font-color;
    border-radius: 2px;
}
button:focus {
    outline: none;
}
fieldset {
    color: $base-background-color;
}
input {
    border: none;
    padding-left: 10px;
    margin: 0;
}
a, a:hover {
    text-decoration: none;
    color: $dark-background-font-color;
}

ul {
    padding: 0;
}

li {
   list-style: none;
}
