.navigation {
    background-color: $app-items-color;
    color: $dark-background-font-color;
    height: 62px;
}

.hamburger {
    background-color: red; 
}
.navi-bar {
    height: 100%;
                       
}
.logo-dashboard {

}

.messages {
  background-color: blue;  
}
.logo-efi3 {
    
}